<section class="admin-dashboard">
  <header class="page-header">  
    <h1>Welcome to the admin dashboard!</h1>
  </header>
  <div class="counts">
    There are currently <%= @categories%> categories and <%= @products%> products.
  </div>
</section>