<tr>
  <td>
    image
    <%#= image_tag product.image.tiny.url %>
  </td>
  <td>
    <%pp product%>
    <h4>title<%#= product.product_id %></h4>
    <br>
    <p> description<%#= product.description %> </p>
  </td>
  <td>
    <%= humanized_money_with_symbol product.item_price_cents / 100.00 %>
  </td>
  <td>
    <div>
    <%= product.quantity %>
    </div>
  </td>
  <td>
    <%= humanized_money_with_symbol product.total_price_cents / 100.00 %>
  </td>
</tr>