<section class="about">
  <header class="page-header">  
    <h1>About us</h1>
  </header>
  <div class="about-paragraph">
    This is a little about us paragraph. I am tired and can't think of anything to write here. :)
  </div>
</section>